.App {
	display: flex;
	justify-content: center;
	text-align: center;
	/* height: 600px; */
	flex-direction: column;
}
.message-container {
	border: 1px solid #eaeaea;
	margin: 1em auto;
	width: 33em;
	padding: 1.5em;
	text-align: left;
}

.post-message-box {
	margin-top: 2px;
}
